---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Footer.astro';
import type { CollectionEntry } from 'astro:content';
import { getEntries } from 'astro:content';
import AuthorCard from '@components/AuthorCard.astro';

// Resolve an array of references
// const authors: CollectionEntry<'authors'>[] = Astro.locals.starlightRoute.entry.data.authors ? await getEntries(Astro.locals.starlightRoute.entry.data.authors) : [];
---

<footer class="flex gap-4 flex-col">
  <!-- {
    authors.length > 0 &&
      <div>
        <div class="flex flex-col gap-2 md:gap-4">
          {authors.map((author) => (
            <AuthorCard author={author} />
          ))}
        </div>
      </div>
  } -->
  <Default><slot /></Default>
</footer>