---
import ReferenceCard from './ReferenceCard.astro';

interface Props {
  references?: string[];
}

const { references = [] } = Astro.props;
if (references.length === 0) return null;
---

  <div class="references-wrapper">
    {references.map((refId, index) => (
      <ReferenceCard id={refId} number={index + 1} />
    ))}
  </div>

<style>
  .abstract-references-section h3 {
    margin-bottom: 1rem !important;
  }
</style>